{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<h3>開発・デバッグ用ツール</h3>
<hr />

{% for tool in dev_tools %}
<div class="col-md-6 mb-3">
  <div class="card border-info">
    <div class="card-body">
      <h5 class="card-title">{{ tool.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Endpoint: {{ tool.url }}</h6>
      <p class="card-text">{{ tool.description }}</p>
      <a href="{{ tool.url }}" class="btn btn-outline-info">ツールを開く</a>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
