{% extends "base.html" %} {% block title %}Dashboard - API Test{% endblock %} {%
block content %}
<h1>テストフォーム</h1>

<h3>✅ 登録完了</h3>
<p>データが正常に登録されました。</p>
<ul>
  <li><strong>system_name:</strong> {{ system_name }}</li>
  <li><strong>user_id:</strong> {{ user_id }}</li>
  <li><strong>parameters:</strong> {{ parameters }}</li>
  <li><strong>recovered_system_name:</strong> {{ recovered_system_name }}</li>
  <li><strong>recovered_user_id:</strong> {{ recovered_user_id }}</li>
  <li><strong>recovered_batch_id:</strong> {{ recovered_batch_id }}</li>
  <li>
    <strong>created_at_jst:</strong>
    <span>{{ created_at_jst }}</span>
  </li>
</ul>
{% endblock %}
